.ipynb_checkpoints/
*.wav
*.flac
*.DS_Store
*.egg
*.pyc
code/__pycache__/dataloader.cpython-310.pyc
*.idea
*.vscode
*.pyc
*.fdb_latexmk
*.fls
*.aux
*.blg
*.log
*.out
*.synctex.gz
data/eggs/backup/*
data/eggs/scratch/backup/*
data/eggs/scratch/*-10.pkl
data/eggs/analyzed_10_iter.pkl
