charset-normalizer==2.1.1
contourpy==1.0.6
davos==0.1.0
deepdish==0.3.7
dill==0.3.6
etils==0.8.0
h5py==3.7.0
importlib-resources==5.9.0
jax==0.3.18
matplotlib==3.6.2
multiprocess==0.70.14
numpy==1.23.4
pandas==1.5.1
pathos==0.3.0
pox==0.3.2
ppft==1.7.6.6
quail==0.2.1
requests==2.28.1
seaborn==0.12.1